<!DOCTYPE html>
<html class="backgroundPage">
<head>

    <title>Contact Danna</title>

     <script type = "text/javascript" src="{{ url_for('static', filename='JS/Functions.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/cv.css') }}">
</head>
<body >
<h2> Contact Danna Ronen</h2>
<form>
    </br>
    <label for="FirstName" class="Details">First name </label>
<input id="FirstName" type="text">  </br>  </br>
      <label for="LastName" class="Details">Last name </label>
<input id="LastName" type="text">  </br>  </br>
      <label for="Phone" class="Details">Phone Number </label>
<input id="Phone" type="text">  </br>   </br>
 <label for="Content" class="Details"> Content: </label>   </br>
<textarea id="Content" name="Content" cols="50" rows="5" required>
</textarea>
    <br><br>
<input type="submit" class="submit" value="Submit" onclick="self.close()">
</form>
</body>
</html>