*{
    box-sizing: border-box;
}

.row:after{
    content : "";
    clear: both;
    display: block;
}
    [class*="col-"]{
    float: left;
    padding: 15px;
    }

/* For desktop: */
.col-1 {width: 20%;}
.col-2 {width: 80%;}

  @media only screen and (max-width: 1000px){
    /* For mobile phones: */
    [class*="col-"]{
     width: 100%;
    }
    [class="col-1"]{
     height: 50px;
    }
  }


  .menu {
    background-color: rgb(18, 61, 98);
    padding: 100px;
    height: 600px;
  }

  .main1 {
    background-color: rgb(200, 200, 200);
    padding: 100px;
    height: 300px;
  }

    .main2{
    background-color: rgb(240, 240, 240);
    padding: 100px;
    height: 300px;
  }